@page "/"

<MudContainer Class="mt-16 px-8" MaxWidth="MaxWidth.False">
    <div class="wrap-layer">
        <div class="content-layer">
            <MudGrid>
                <MudItem xs="12" sm="6" md="4">
                    <MudPaper Elevation="2" Class="pa-4" Style="height: 200px;"></MudPaper>
                </MudItem>
                <MudItem xs="12" sm="6" md="4">
                    <MudPaper Elevation="2" Class="pa-4" Style="height: 200px;"></MudPaper>
                </MudItem>
                <MudItem xs="12" sm="12" md="4">
                    <MudPaper Elevation="2" Class="pa-4" Style="height: 200px;"></MudPaper>
                </MudItem>
                <MudItem xs="12" sm="6">
                    <MudGrid>
                        <MudItem xs="12">
                            <MudPaper Elevation="2" Class="pa-4" Style="height: 200px;"></MudPaper>
                        </MudItem>
                        <MudItem xs="12">
                            <MudPaper Elevation="2" Class="pa-4" Style="height: 200px;"></MudPaper>
                        </MudItem>
                    </MudGrid>
                </MudItem>
                <MudItem xs="12" sm="6">
                    <MudPaper Elevation="2" Class="pa-4" Style="height: 100%"></MudPaper>
                </MudItem>
                <MudItem xs="12" sm="6" md="4">
                    <MudPaper Elevation="2" Class="pa-4" Style="height: 200px;"></MudPaper>
                </MudItem>
                <MudItem xs="12" sm="6" md="4">
                    <MudPaper Elevation="2" Class="pa-4" Style="height: 200px;"></MudPaper>
                </MudItem>
                <MudItem xs="12" sm="12" md="4">
                    <MudPaper Elevation="2" Class="pa-4" Style="height: 200px;"></MudPaper>
                </MudItem>
            </MudGrid>
        </div>
        <div class="background-layer">
            <svg height="1304.919" viewBox="0 0 992.896 1304.919" width="992.896" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <filter id="a" filterUnits="userSpaceOnUse" height="404.212" width="395.805" x="391.172" y="786.707">
                    <feOffset dx="-10" dy="-10"></feOffset>
                    <feGaussianBlur result="blur" stdDeviation="17.5"></feGaussianBlur>
                    <feFlood flood-opacity=".18"></feFlood>
                    <feComposite in2="blur" operator="in"></feComposite>
                    <feComposite in="SourceGraphic"></feComposite>
                </filter>
                <filter id="b" filterUnits="userSpaceOnUse" height="404.212" width="395.805" x="589.788" y="672.036">
                    <feOffset dx="-10" dy="-10"></feOffset>
                    <feGaussianBlur result="blur-2" stdDeviation="17.5"></feGaussianBlur>
                    <feFlood flood-opacity=".18"></feFlood>
                    <feComposite in2="blur-2" operator="in"></feComposite>
                    <feComposite in="SourceGraphic"></feComposite>
                </filter>
                <filter id="c" filterUnits="userSpaceOnUse" height="404.212" width="395.805" x="597.091" y="444.498">
                    <feOffset dx="-10" dy="-10"></feOffset>
                    <feGaussianBlur result="blur-3" stdDeviation="17.5"></feGaussianBlur>
                    <feFlood flood-opacity=".18"></feFlood>
                    <feComposite in2="blur-3" operator="in"></feComposite>
                    <feComposite in="SourceGraphic"></feComposite>
                </filter>
                <filter id="d" filterUnits="userSpaceOnUse" height="404.212" width="395.805" x="396.07" y="336.506">
                    <feOffset dx="-10" dy="-10"></feOffset>
                    <feGaussianBlur result="blur-4" stdDeviation="17.5"></feGaussianBlur>
                    <feFlood flood-opacity=".18"></feFlood>
                    <feComposite in2="blur-4" operator="in"></feComposite>
                    <feComposite in="SourceGraphic"></feComposite>
                </filter>
                <filter id="e" filterUnits="userSpaceOnUse" height="404.212" width="395.805" x="197.454" y="451.177">
                    <feOffset dx="-10" dy="-10"></feOffset>
                    <feGaussianBlur result="blur-5" stdDeviation="17.5"></feGaussianBlur>
                    <feFlood flood-opacity=".18"></feFlood>
                    <feComposite in2="blur-5" operator="in"></feComposite>
                    <feComposite in="SourceGraphic"></feComposite>
                </filter>
                <filter id="f" filterUnits="userSpaceOnUse" height="404.212" width="395.805" x="0" y="565.177">
                    <feOffset dx="-10" dy="-10"></feOffset>
                    <feGaussianBlur result="blur-6" stdDeviation="17.5"></feGaussianBlur>
                    <feFlood flood-opacity=".18"></feFlood>
                    <feComposite in2="blur-6" operator="in"></feComposite>
                    <feComposite in="SourceGraphic"></feComposite>
                </filter>
                <filter id="g" filterUnits="userSpaceOnUse" height="404.212" width="395.805" x="198.342" y="674.716">
                    <feOffset dx="-10" dy="-10"></feOffset>
                    <feGaussianBlur result="blur-7" stdDeviation="17.5"></feGaussianBlur>
                    <feFlood flood-opacity=".18"></feFlood>
                    <feComposite in2="blur-7" operator="in"></feComposite>
                    <feComposite in="SourceGraphic"></feComposite>
                </filter>
                <filter id="h" filterUnits="userSpaceOnUse" height="404.212" width="395.805" x="4.009" y="338.12">
                    <feOffset dx="-10" dy="-10"></feOffset>
                    <feGaussianBlur result="blur-8" stdDeviation="17.5"></feGaussianBlur>
                    <feFlood flood-opacity=".18"></feFlood>
                    <feComposite in2="blur-8" operator="in"></feComposite>
                    <feComposite in="SourceGraphic"></feComposite>
                </filter>
                <filter id="i" filterUnits="userSpaceOnUse" height="404.212" width="395.805" x="394.93" y="561.216">
                    <feOffset dx="-10" dy="-10"></feOffset>
                    <feGaussianBlur result="blur-9" stdDeviation="17.5"></feGaussianBlur>
                    <feFlood flood-opacity=".18"></feFlood>
                    <feComposite in2="blur-9" operator="in"></feComposite>
                    <feComposite in="SourceGraphic"></feComposite>
                </filter>
                <filter id="j" filterUnits="userSpaceOnUse" height="404.212" width="395.805" x="200.597" y="224.62">
                    <feOffset dx="-10" dy="-10"></feOffset>
                    <feGaussianBlur result="blur-10" stdDeviation="17.5"></feGaussianBlur>
                    <feFlood flood-opacity=".18"></feFlood>
                    <feComposite in2="blur-10" operator="in"></feComposite>
                    <feComposite in="SourceGraphic"></feComposite>
                </filter>
                <filter id="k" filterUnits="userSpaceOnUse" height="404.212" width="395.805" x="3.172" y="114.671">
                    <feOffset dx="-10" dy="-10"></feOffset>
                    <feGaussianBlur result="blur-11" stdDeviation="17.5"></feGaussianBlur>
                    <feFlood flood-opacity=".18"></feFlood>
                    <feComposite in2="blur-11" operator="in"></feComposite>
                    <feComposite in="SourceGraphic"></feComposite>
                </filter>
                <filter id="l" filterUnits="userSpaceOnUse" height="404.212" width="395.805" x="201.788" y="0">
                    <feOffset dx="-10" dy="-10"></feOffset>
                    <feGaussianBlur result="blur-12" stdDeviation="17.5"></feGaussianBlur>
                    <feFlood flood-opacity=".18"></feFlood>
                    <feComposite in2="blur-12" operator="in"></feComposite>
                    <feComposite in="SourceGraphic"></feComposite>
                </filter>
                <filter id="m" filterUnits="userSpaceOnUse" height="404.212" width="395.805" x="193.718" y="900.707">
                    <feOffset dx="-10" dy="-10"></feOffset>
                    <feGaussianBlur result="blur-13" stdDeviation="17.5"></feGaussianBlur>
                    <feFlood flood-opacity=".18"></feFlood>
                    <feComposite in2="blur-13" operator="in"></feComposite>
                    <feComposite in="SourceGraphic"></feComposite>
                </filter>
                <filter id="n" filterUnits="userSpaceOnUse" height="404.212" width="395.805" x="393.573" y="113.205">
                    <feOffset dx="-10" dy="-10"></feOffset>
                    <feGaussianBlur result="blur-14" stdDeviation="17.5"></feGaussianBlur>
                    <feFlood flood-opacity=".18"></feFlood>
                    <feComposite in2="blur-14" operator="in"></feComposite>
                    <feComposite in="SourceGraphic"></feComposite>
                </filter>
                <g opacity=".6" transform="matrix(-.8660254 .5 -.5 -.8660254 6890.497 655.004)">
                    <g filter="url(#a)" transform="matrix(-.87 -.5 .5 -.87 5639.84 4012.5)">
                        <path class="hi-hero-background-hex" d="m180.129 191.7 44.271-76.686c4.054-7.025 4.054-18.524 0-25.55l-44.271-76.687c-4.058-7.027-14.014-12.777-22.129-12.777h-88.552c-8.115 0-18.073 5.75-22.129 12.777l-44.274 76.687c-4.06 7.026-4.06 18.525 0 25.55l44.274 76.686c4.056 7.024 14.014 12.775 22.129 12.775h88.552c8.115 0 18.07-5.751 22.129-12.775" fill="#fff" opacity=".5" transform="matrix(.5 -.87 .87 .5 453.67 1046.18)"></path>
                    </g>
                    <g filter="url(#b)" transform="matrix(-.87 -.5 .5 -.87 5639.84 4012.5)">
                        <path class="hi-hero-background-hex" d="m180.129 191.7 44.271-76.686c4.054-7.025 4.054-18.524 0-25.55l-44.271-76.687c-4.058-7.027-14.014-12.777-22.129-12.777h-88.552c-8.115 0-18.073 5.75-22.129 12.777l-44.274 76.687c-4.06 7.026-4.06 18.525 0 25.55l44.274 76.686c4.056 7.024 14.014 12.775 22.129 12.775h88.552c8.115 0 18.07-5.751 22.129-12.775" fill="#fff" opacity=".5" transform="matrix(.5 -.87 .87 .5 652.29 931.51)"></path>
                    </g>
                    <g filter="url(#c)" transform="matrix(-.87 -.5 .5 -.87 5639.84 4012.5)">
                        <path class="hi-hero-background-hex" d="m180.129 191.7 44.271-76.686c4.054-7.025 4.054-18.524 0-25.55l-44.271-76.687c-4.058-7.027-14.014-12.777-22.129-12.777h-88.552c-8.115 0-18.073 5.75-22.129 12.777l-44.274 76.687c-4.06 7.026-4.06 18.525 0 25.55l44.274 76.686c4.056 7.024 14.014 12.775 22.129 12.775h88.552c8.115 0 18.07-5.751 22.129-12.775" fill="#fff" opacity=".5" transform="matrix(.5 -.87 .87 .5 659.59 703.97)"></path>
                    </g>
                    <g filter="url(#d)" transform="matrix(-.87 -.5 .5 -.87 5639.84 4012.5)">
                        <path class="hi-hero-background-hex" d="m180.129 191.7 44.271-76.686c4.054-7.025 4.054-18.524 0-25.55l-44.271-76.687c-4.058-7.027-14.014-12.777-22.129-12.777h-88.552c-8.115 0-18.073 5.75-22.129 12.777l-44.274 76.687c-4.06 7.026-4.06 18.525 0 25.55l44.274 76.686c4.056 7.024 14.014 12.775 22.129 12.775h88.552c8.115 0 18.07-5.751 22.129-12.775" fill="#fff" opacity=".5" transform="matrix(.5 -.87 .87 .5 458.57 595.98)"></path>
                    </g>
                    <g filter="url(#e)" transform="matrix(-.87 -.5 .5 -.87 5639.84 4012.5)">
                        <path class="hi-hero-background-hex" d="m180.129 191.7 44.271-76.686c4.054-7.025 4.054-18.524 0-25.55l-44.271-76.687c-4.058-7.027-14.014-12.777-22.129-12.777h-88.552c-8.115 0-18.073 5.75-22.129 12.777l-44.274 76.687c-4.06 7.026-4.06 18.525 0 25.55l44.274 76.686c4.056 7.024 14.014 12.775 22.129 12.775h88.552c8.115 0 18.07-5.751 22.129-12.775" fill="#fff" opacity=".5" transform="matrix(.5 -.87 .87 .5 259.95 710.65)"></path>
                    </g>
                    <g filter="url(#f)" transform="matrix(-.87 -.5 .5 -.87 5639.84 4012.5)">
                        <path class="hi-hero-background-hex" d="m180.129 191.7 44.271-76.686c4.054-7.025 4.054-18.524 0-25.55l-44.271-76.687c-4.058-7.027-14.014-12.777-22.129-12.777h-88.552c-8.115 0-18.073 5.75-22.129 12.777l-44.274 76.687c-4.06 7.026-4.06 18.525 0 25.55l44.274 76.686c4.056 7.024 14.014 12.775 22.129 12.775h88.552c8.115 0 18.07-5.751 22.129-12.775" fill="#fff" opacity=".5" transform="matrix(.5 -.87 .87 .5 62.5 824.65)"></path>
                    </g>
                    <g filter="url(#g)" transform="matrix(-.87 -.5 .5 -.87 5639.84 4012.5)">
                        <path class="hi-hero-background-hex" d="m180.129 191.7 44.271-76.686c4.054-7.025 4.054-18.524 0-25.55l-44.271-76.687c-4.058-7.027-14.014-12.777-22.129-12.777h-88.552c-8.115 0-18.073 5.75-22.129 12.777l-44.274 76.687c-4.06 7.026-4.06 18.525 0 25.55l44.274 76.686c4.056 7.024 14.014 12.775 22.129 12.775h88.552c8.115 0 18.07-5.751 22.129-12.775" fill="#fff" opacity=".5" transform="matrix(.5 -.87 .87 .5 260.84 934.19)"></path>
                    </g>
                    <g filter="url(#h)" transform="matrix(-.87 -.5 .5 -.87 5639.84 4012.5)">
                        <path class="hi-hero-background-hex" d="m180.129 191.7 44.271-76.686c4.054-7.025 4.054-18.524 0-25.55l-44.271-76.687c-4.058-7.027-14.014-12.777-22.129-12.777h-88.552c-8.115 0-18.073 5.75-22.129 12.777l-44.274 76.687c-4.06 7.026-4.06 18.525 0 25.55l44.274 76.686c4.056 7.024 14.014 12.775 22.129 12.775h88.552c8.115 0 18.07-5.751 22.129-12.775" fill="#fff" opacity=".5" transform="matrix(.5 -.87 .87 .5 66.51 597.59)"></path>
                    </g>
                    <g filter="url(#i)" transform="matrix(-.87 -.5 .5 -.87 5639.84 4012.5)">
                        <path class="hi-hero-background-hex" d="m180.129 191.7 44.271-76.686c4.054-7.025 4.054-18.524 0-25.55l-44.271-76.687c-4.058-7.027-14.014-12.777-22.129-12.777h-88.552c-8.115 0-18.073 5.75-22.129 12.777l-44.274 76.687c-4.06 7.026-4.06 18.525 0 25.55l44.274 76.686c4.056 7.024 14.014 12.775 22.129 12.775h88.552c8.115 0 18.07-5.751 22.129-12.775" fill="#fff" opacity=".5" transform="matrix(.5 -.87 .87 .5 457.43 820.69)"></path>
                    </g>
                    <g filter="url(#j)" transform="matrix(-.87 -.5 .5 -.87 5639.84 4012.5)">
                        <path class="hi-hero-background-hex" d="m180.129 191.7 44.271-76.686c4.054-7.025 4.054-18.524 0-25.55l-44.271-76.687c-4.058-7.027-14.014-12.777-22.129-12.777h-88.552c-8.115 0-18.073 5.75-22.129 12.777l-44.274 76.687c-4.06 7.026-4.06 18.525 0 25.55l44.274 76.686c4.056 7.024 14.014 12.775 22.129 12.775h88.552c8.115 0 18.07-5.751 22.129-12.775" fill="#fff" opacity=".5" transform="matrix(.5 -.87 .87 .5 263.1 484.09)"></path>
                    </g>
                    <g filter="url(#k)" transform="matrix(-.87 -.5 .5 -.87 5639.84 4012.5)">
                        <path class="hi-hero-background-hex" d="m180.129 191.7 44.271-76.686c4.054-7.025 4.054-18.524 0-25.55l-44.271-76.687c-4.058-7.027-14.014-12.777-22.129-12.777h-88.552c-8.115 0-18.073 5.75-22.129 12.777l-44.274 76.687c-4.06 7.026-4.06 18.525 0 25.55l44.274 76.686c4.056 7.024 14.014 12.775 22.129 12.775h88.552c8.115 0 18.07-5.751 22.129-12.775" fill="#fff" opacity=".5" transform="matrix(.5 -.87 .87 .5 65.67 374.14)"></path>
                    </g>
                    <g filter="url(#l)" transform="matrix(-.87 -.5 .5 -.87 5639.84 4012.5)">
                        <path class="hi-hero-background-hex" d="m180.129 191.7 44.271-76.686c4.054-7.025 4.054-18.524 0-25.55l-44.271-76.687c-4.058-7.027-14.014-12.777-22.129-12.777h-88.552c-8.115 0-18.073 5.75-22.129 12.777l-44.274 76.687c-4.06 7.026-4.06 18.525 0 25.55l44.274 76.686c4.056 7.024 14.014 12.775 22.129 12.775h88.552c8.115 0 18.07-5.751 22.129-12.775" fill="#fff" opacity=".5" transform="matrix(.5 -.87 .87 .5 264.29 259.47)"></path>
                    </g>
                    <g filter="url(#m)" transform="matrix(-.87 -.5 .5 -.87 5639.84 4012.5)">
                        <path class="hi-hero-background-hex" d="m180.129 191.7 44.271-76.686c4.054-7.025 4.054-18.524 0-25.55l-44.271-76.687c-4.058-7.027-14.014-12.777-22.129-12.777h-88.552c-8.115 0-18.073 5.75-22.129 12.777l-44.274 76.687c-4.06 7.026-4.06 18.525 0 25.55l44.274 76.686c4.056 7.024 14.014 12.775 22.129 12.775h88.552c8.115 0 18.07-5.751 22.129-12.775" fill="#fff" opacity=".5" transform="matrix(.5 -.87 .87 .5 256.22 1160.18)"></path>
                    </g>
                    <g filter="url(#n)" transform="matrix(-.87 -.5 .5 -.87 5639.84 4012.5)">
                        <path class="hi-hero-background-hex" d="m180.129 191.7 44.271-76.686c4.054-7.025 4.054-18.524 0-25.55l-44.271-76.687c-4.058-7.027-14.014-12.777-22.129-12.777h-88.552c-8.115 0-18.073 5.75-22.129 12.777l-44.274 76.687c-4.06 7.026-4.06 18.525 0 25.55l44.274 76.686c4.056 7.024 14.014 12.775 22.129 12.775h88.552c8.115 0 18.07-5.751 22.129-12.775" fill="#fff" opacity=".5" transform="matrix(.5 -.87 .87 .5 456.07 372.68)"></path>
                    </g>
                </g>
            </svg>
        </div>
    </div>
    
</MudContainer>



@* <PageTitle>Home</PageTitle>


<MudText Typo="Typo.h3" GutterBottom="true">Hello, world!</MudText>
<MudText Class="mb-8">Welcome to your new app, powered by MudBlazor and the .NET 8 Template!</MudText>

<MudAlert Severity="Severity.Normal">
    You can find documentation and examples on our website here:
    <MudLink Href="https://mudblazor.com" Target="_blank" Typo="Typo.body2" Color="Color.Primary">
        <b>www.mudblazor.com</b>
    </MudLink>
</MudAlert>

<br />
<MudText Typo="Typo.h5" GutterBottom="true">Interactivity in this Template</MudText>
<br />
<MudText Typo="Typo.body2">
    When you opt for the "Global" Interactivity Location, <br />
    the render modes are defined in App.razor and consequently apply to all child components.<br />
    In this case, providers are globally set in the MainLayout.<br />
    <br />
    On the other hand, if you choose the "Per page/component" Interactivity Location,<br />
    it is necessary to include the <br />
    <br />
    &lt;MudPopoverProvider /&gt; <br />
    &lt;MudDialogProvider /&gt; <br />
    &lt;MudSnackbarProvider /&gt; <br />
    <br />
    components on every interactive page.<br />
    <br />
    If a render mode is not specified for a page, it defaults to Server-Side Rendering (SSR),<br />
    similar to this page. While MudBlazor allows pages to be rendered in SSR,<br />
    please note that interactive features, such as buttons and dropdown menus, will not be functional.
</MudText>

<br />
<MudText Typo="Typo.h5" GutterBottom="true">What's New in Blazor with the Release of .NET 8</MudText>
<br />
<MudText Typo="Typo.h6" GutterBottom="true">Prerendering</MudText>
<MudText Typo="Typo.body2" GutterBottom="true">
    If you're exploring the features of .NET 8 Blazor,<br /> you might be pleasantly surprised to learn that each page is prerendered on the server,<br /> regardless of the selected render mode.<br /><br />
    This means that you'll need to inject all necessary services on the server,<br /> even when opting for the wasm (WebAssembly) render mode.<br /><br />
    This prerendering functionality is crucial to ensuring that WebAssembly mode feels fast and responsive,<br /> especially when it comes to initial page load times.<br /><br />
    For more information on how to detect prerendering and leverage the RenderContext, you can refer to the following link:
    <MudLink Href="https://github.com/dotnet/aspnetcore/issues/51468#issuecomment-1783568121" Target="_blank" Typo="Typo.body2" Color="Color.Primary">
        More details
    </MudLink>
</MudText>

<br />
<MudText Typo="Typo.h6" GutterBottom="true">InteractiveAuto</MudText>
<MudText Typo="Typo.body2">
    A discussion on how to achieve this can be found here:
    <MudLink Href="https://github.com/dotnet/aspnetcore/issues/51468#issue-1950424116" Target="_blank" Typo="Typo.body2" Color="Color.Primary">
        More details
    </MudLink>
</MudText>
 *@
